body {
    font-family: Arial, sans-serif;
    background-color: #302f2f;
    overflow-x: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: transparent;
}

.logo-title-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    mix-blend-mode: multiply;
}

h1 {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    margin: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #1f1e1e;
    border-radius: 8px;
}

.pelicula {
    margin-bottom: 20px;
}

.pelicula img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #5cb85c;
    color: white;
    border: none;
    margin-top: 10px;
    cursor: pointer;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: auto;
    text-align: center;
    padding: 20px 0;
    position: relative;
}

.movie-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 1;
}

.titles-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
    font-size: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.btn-signup {
    padding: 10px 20px;
    background-color: #e50914;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    display: inline-block;
    margin-top: 20px;
}

.section-entertainment {
    position: relative;
    z-index: 10;
}

.peliculas-container {
    position: relative;
    width: 100%;
    overflow: visible;
    padding: 5px;
}

.pelicula-grid,
.pelicula {
    flex: 0 0 20%;
    max-width: 20%;
    margin: 1%;
    box-sizing: border-box;
    padding: 5px;
}

.pelicula-grid img,
.pelicula img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.pelicula-grid:hover,
.pelicula:hover {
    transform: scale(1.03);
}


.peliculas-galeria {
    display: flex;
    flex-wrap: nowrap;
    animation: desplazar 30s linear infinite;
    overflow-x: auto;
}

.pelicula {
    flex: 0 0 20%;
    max-width: 20%;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative;
}

.pelicula img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.pelicula h3 {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 30px;
    width: 50%;
    text-align: center;
    color: white;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.pelicula:hover {
    transform: scale(1.03);
}

.pelicula-grid {
    width: 23%;
    margin: 1%;
}

.peliculas-container {
    overflow: hidden;
    width: 100%;
}

.peliculas-grid {
    display: flex;
    width: calc(25% * número total de películas);
    transition: transform 0.5s ease-in-out;
}

.pelicula-grid {
    width: 25%;
    box-sizing: border-box;
    padding: 5px;
}

.peliculas-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.pelicula-grid {
    width: 23%;
    margin: 2%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.pelicula-grid img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.pelicula-grid:hover {
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

footer ul li {
    margin-right: 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.btn-admin {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 250px;
}

.btn-admin:hover {
    background-color: #555;
}

.weather-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

#weather {
    font-size: 1.2em; 
    font-weight: bold; 
    color: #2c3e50; 
    background-color: #ffffff; 
    padding: 10px; 
    border-radius: 5px; 
    text-align: center; 
    margin-bottom: 20px;
    width: 60%; 
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0; 
}

#searchInput {
    padding: 10px;
    width: 80%;
    max-width: 600px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    font-size: 16px;
    background-image: url('search-icon.png');
    background-position: 10px center; 
    background-repeat: no-repeat;
    padding-left: 40px;
    transition: width 0.4s ease-in-out; 
}

#searchInput:focus {
    outline: none;
    border-color: #66afe9;
    box-shadow: 0 0 5px #66afe9;
    width: 90%; 
}

#searchInput::placeholder {
    color: #999; 
    opacity: 1; 
}


@media (max-width: 1080px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .main-content,
    .section-entertainment {
        padding: 10px;
    }

    .pelicula-grid,
    .pelicula {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .titles-container {
        font-size: 16px;

    }

    footer ul li {
        display: block;
        margin: 5px 0;
    }

    .btn-admin {
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 800px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .main-content,
    .section-entertainment {
        padding: 10px;
    }

    .pelicula-grid,
    .pelicula {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .titles-container {
        font-size: 16px;
    }

    .footer {
        flex-direction: column;
    }

    footer ul li {
        display: block;
        margin: 5px auto;
    }

    .btn-admin {
        width: 90%;
        margin: 10px auto;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .main-content,
    .section-entertainment {
        padding: 10px;
    }

    .pelicula-grid,
    .pelicula {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .titles-container {
        font-size: 16px;
    }

    footer ul li {
        display: block;
        margin: 8px 0;
    }

    .btn-admin {
        width: 100%;
        margin-top: 10px;
    }
}

@media (max-width: 520px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .main-content,
    .section-entertainment {
        padding: 10px;
    }

    .pelicula-grid,
    .pelicula {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .titles-container {
        font-size: 16px;
    }

    footer ul li {
        display: block;
        margin: 5px 0;
    }

    .btn-admin {
        width: 60%;
        padding: 8px 0;
    }
}

@media (max-width: 320px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .main-content,
    .section-entertainment {
        padding: 10px;
    }

    .pelicula-grid,
    .pelicula {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .titles-container {
        font-size: 16px;
    }

    footer ul li {
        display: block;
        margin: 3px 0;
    }

    .btn-admin {
        width: 100%;
        padding: 10px 0;
    }
}